#OrderFormColumns {
    display: flex;
    gap: 15px; /*equivalent of using border‑collapse and border-spacing*/
    width: 100%;
}
#OrderForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*This color is slightly brighter than the gray in the demo image for high text contrast*/
    background-color: var(--text-color-light);
    border: 1px solid #000;
    border-radius: 2em;
    padding: 2em;
}
#OrderForm h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
}
#OrderForm .OrderFormColumn {
    flex: 1; /* same widths */
}
#OrderForm .OrderFormColumn > label {
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    color: var(--accent-color-dark);
    text-align: center;
    border-bottom: 1px solid #000;
    width: 100%;
    display: block;
    padding-bottom: 0.25em;
}
.CancelOrderButton{
    width: 120px;
    margin: auto;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #333 3px 3px 3px;
    color: blue;
}
#BottomLine {
    border-bottom: dotted;
    color: green;
}
