/*--------PAGE STYLES--------*/
/*Use them throughout your resume page.*/
#ContactInfo ul li {
font-size: calc(var(--font-size) * 1.4);
font-weight: var(--font-weight);
/*Float this div to the right and right-justify its contents*/
float: right;
clear: both;
justify-content: right;
padding: 0.2rem 0;
}
/*
When you are done, all styling information 
for your website should be contained in one 
of your three CSS files (reset, main, or resume).
Any style information found in HTML tags will cause deductions.
*/