#ContentPlaceHolder1_Message {
    text-align: center;
    margin: 2em auto;
}
#ContentPlaceHolder1_Answer, #ContentPlaceHolder1_Submit {
    display: flex;
    justify-self: center;
    width: 5em;
    margin: 2em 0;
}
#ContentPlaceHolder1_Word {
    display: block;
    justify-self: center;
    padding: 1em;
    margin: 1em 0;
    border: solid 1px #000000;
    background-color: var(--text-color-dark);
    width: 20em;
    border-radius: 1em;
}
#Attempts{
    display: block;
    justify-self: center;
    background-color: var(--text-color-dark);
    padding: 2em;
    width: 10em;
    border-radius: 1em;
}

#PageContent {
    border: solid 3px var(--accent-color-bright);
    box-shadow: 1px 1px 7px 1px #777777;
    border-radius: 1em;
}
